.font h2{
    padding-bottom: 2rem;
}

.font p {
    color: #979797;
    font-style: oblique;
    font-size: smaller;
    padding-bottom: 1rem;
}

.size div{
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}

.textfield {
    width: 33%;
    padding-top: 0px !important;
}

.textfield-rfc{
    width: 87%;
    height: 40px;
    padding-top: 0px !important;
}

label + [class*="MuiSelect-root"] {
    margin-top: 0px !important;
}

label[data-shrink=false]+.MuiInputBase-formControl .css-4j3uur-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiInput-input {
    padding-top: 0px !important;
}
.css-4j3uur-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-4j3uur-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-4j3uur-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiInput-input {
    padding-top: 0px !important;
}


label+.css-5h82ro-MuiInputBase-root-MuiInput-root {
    margin-top: 0px !important;
}

label+.css-5h82ro-MuiInputBase-root-MuiInput-root {
    margin-top: 0px !important;
}

.label{
    color:#00000099;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 0;
}

.textfield-padres{
    width: 32%;
}

.textfield-hijos{
    width: 10%;
}