.container-home {
    height: 100dvh;
}

.font h2 {
  padding-bottom: 2rem;
}

.font p {
  color: #979797;
  font-style: oblique;
  font-size: smaller;
  padding-bottom: 1rem;
}


@media (max-width: 768px) {
    .container-home {
        height: 10rem;
    }
}

@media (max-width: 480px) {
    .container-home {
        height: 10rem;
    }   
}